.contacts__contacts {
  display: flex;
  flex-direction: column;


  @media (max-width: @mobile-width) {
    margin: 0 0 32px 0;
  }
}

.contacts__contacts a {
  text-decoration: none;
  font-style: normal;
  color: #726DA8;
}

.contacts__contacts a:not(:last-child) {
  margin: 0 0 8px 0;
}
